/* -------------------------- CUERPO DEL DOCUMENTO -------------------------- */

body {
    font-family: 'Baloo Tamma 2', cursive;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

a {
    color: white;
}

a:hover {
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

/* ------------------------------ IMAGEN COVER ------------------------------ */

.covertext {
    font-size-adjust: initial;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.64);
}

#cover {
    background-image: url(../img/banner-blue.jpg);
    height: fit-content;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

/* ---------------------------- CARRUSEL DE FOTOS --------------------------- */

.carousel-inner .carousel-item {
    height: 256px;
}

.carousel-inner img {
    margin: auto;
    height: 256px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}