/* ---------------------------------- FONDO --------------------------------- */

#cover {
    background-image: url(../img/banner-grn.jpg);
}

.bg-primary {
    background-color: #28a745!important
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
	background-color: #1e7e34!important
}

/* --------------------------------- BOTONES -------------------------------- */

.btn-primary {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745
}

.btn-primary:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
	box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #1e7e34;
	border-color: #1c7430
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}