/* ---------------------------------- FONDO --------------------------------- */

#cover {
    background-image: url(../img/banner-red.jpg);
}

.bg-primary {
	background-color: #dc3545!important
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
	background-color: #bd2130!important
}

/* --------------------------------- BOTONES -------------------------------- */

.btn-primary {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545
}

.btn-primary:hover {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
	box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #bd2130;
	border-color: #b21f2d
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}